html{
    scroll-behavior:smooth;
}
body{
    background-color: rgb(68, 12, 80);
    font-family: "Baloo Tamma 2",cursive;
}
/*Main heading font*/
.m-heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text{
    color: rgb(19, 90, 153);
}
/*Main container height*/
.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    background-image:url(1.png) ;
    background-attachment: fixed;
    background-size: cover;
}
/*Aligning items in main row*/
.main-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*changing name and font size*/
.main_row h1{
    font-size: 5rem;
}
/*Making the main image the size of the screen*/
.main_row img{
    width: fit-content;
    height: 100vh;
}